# macOS
.DS_Store
.AppleDouble
.LSOverride

# IntelliJ/GoLand
.idea/
*.iml
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# Go
/bin/
/dist/
/vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Logs & temp
*.log
tmp/
temp/

# Environment / secrets
.env
*.local